<div id="header">
  <div class="container">
    <div class="grid">
      <div class="col-3">
        <div class="logo" routerLink="/">
          <img src="assets/logo.png" alt="" />
          <span class="logo__name">Asydash Shop</span>
        </div>
      </div>
      <div class="col-3">
        <product-search></product-search>
      </div>
      <div class="col-3 col-offset-1">
        <div class="navbar">
          <ul class="navbar--list">
            <li>
              <a class="navbar--item" routerLink="/" routerLinkActive="active">
                Home
              </a>
            </li>
            <li>
              <a
                class="navbar--item"
                routerLink="/products"
                routerLinkActive="active"
              >
                Products
              </a>
            </li>
            <li>
              <a class="navbar--item"> Contact </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <button
          *ngIf="!isUserLogin"
          pButton
          pRipple
          type="button"
          icon="pi pi-user"
          class="p-button-rounded p-button-secondary p-button-text mr-2"
          routerLink="/login"
        ></button>
        <button
          *ngIf="isUserLogin"
          pButton
          pRipple
          type="button"
          icon="pi pi-user"
          class="p-button-rounded p-button-secondary p-button-text mr-2"
          [ngStyle]="{ color: '#af2900' }"
          (click)="menu.toggle($event)"
        ></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <cart-icon></cart-icon>
      </div>
    </div>
  </div>
</div>
