<div class="dashboard__page">
  <div class="grid">
    <div class="col-12 md:col-4">
      <div class="dashboard__card">
        <h3>Total Products</h3>
        <h1>{{ productCount }}</h1>
        <i class="pi pi-box"></i>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="dashboard__card">
        <h3>Total Orders</h3>
        <h1>{{ orderCount }}</h1>
        <i class="pi pi-truck"></i>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="dashboard__card">
        <h3>Total Sales</h3>
        <h1>{{ saleCount | currency }}</h1>
        <i class="pi pi-dollar"></i>
      </div>
    </div>
  </div>
</div>
