<div class="admin__sidebar">
  <div class="logo">
    <img src="assets/logo.png" alt="" />
    <span class="logo__name">Asydash Shop</span>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="pi pi-home"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="products" routerLinkActive="active">
          <i class="pi pi-briefcase"></i> Products
        </a>
      </li>
      <li>
        <a routerLink="categories" routerLinkActive="active">
          <i class="pi pi-list"></i> Categories
        </a>
      </li>
      <li>
        <a routerLink="orders" routerLinkActive="active">
          <i class="pi pi-shopping-cart"></i> Orders
        </a>
      </li>
      <li>
        <a routerLink="users" routerLinkActive="active">
          <i class="pi pi-users"></i> Users
        </a>
      </li>
    </ul>
  </div>
  <div class="profile">
    <img src="assets/users/male-07.jpg" alt="" />
    <div class="profile__info">
      <span class="name">{{ username }}</span>
      <span class="email">{{ email }}</span>
    </div>
    <button class="btn__logout" (click)="onLogout()">
      <i class="pi pi-sign-out"></i>
    </button>
  </div>
</div>
