@keyframes bottomToTop {
  0% {
    transform: translateY(2%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2%);
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0%);
  }
}
