* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-color;
}
body,
.p-component {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.grid {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  @include reset-list;
}

hr {
  border: none;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  margin: 0.25rem 0.5rem;
}

.p-tag-value {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
