@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin shadow-box {
  box-shadow: 1px 1px 6px rgba($color: #333, $alpha: 0.2);
}

@mixin card-container {
  background-color: #fff;
  border: 1px solid rgba($color: #333, $alpha: 0.3);
  border-radius: 17px;
  overflow: hidden;
}

@mixin summery-card {
  width: 100%;
  border-radius: 5px;
  background-color: var(--gray-50);
  padding: 0.5rem 1rem;
}
