<div class="admin__page">
  <eshop-admin-page-header
    title="Order"
    subtitle="List all orders"
    [canReload]="true"
    (onRefresh)="onOrderRefresh()"
  ></eshop-admin-page-header>
  <div class="page__body">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12">
          <p-table
            [value]="orders"
            [paginator]="true"
            [rows]="8"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Order By</th>
                <th pSortableColumn="city">
                  Destination <p-sortIcon field="city"></p-sortIcon>
                </th>
                <th>Total Item</th>
                <th>Total Price</th>
                <th pSortableColumn="status">
                  Status <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="dateOrdered">
                  Order Date <p-sortIcon field="dateOrdered"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
              <tr>
                <td>{{ order.user?.name }}</td>
                <td>{{ order.city }}, {{ order.zip }}</td>
                <td>{{ order.orderItems.length }}</td>
                <td>{{ order.totalPrice | currency }}</td>
                <td>
                  <p-tag
                    [severity]="readStatus(order.status).color"
                    [value]="readStatus(order.status).label"
                    [rounded]="true"
                  ></p-tag>
                </td>
                <td>{{ order.dateOrdered | date: 'short' }}</td>
                <td>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger p-button-text"
                    (click)="onDelete(order._id)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-eye"
                    class="p-button-rounded p-button-info p-button-text"
                    [routerLink]="'/orders/detail/' + order._id"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-card>
  </div>
</div>
