// *Base
@import '~normalize.css/normalize.css';
@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';
@import './base/animation.scss';

// *Third Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';
@import './base/configuration.scss';

// *Pages

// *Shared
@import './apps/eshop/shared/header.scss';
@import './apps/eshop/shared/footer.scss';

// *Libs
@import './libs/ui/ui.scss';
@import './libs/product/product.scss';

#eshop-app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 0.5px);
  overflow-x: hidden;
  overflow: hidden;
}
#main-content {
  flex-grow: 1;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
